.header[data-v-da05a7d0]{display:flex;justify-content:end;margin-top:6px;padding-right:16px}md-filled-button[data-v-da05a7d0],md-outlined-button[data-v-da05a7d0]{display:block;margin-top:24px}h1[data-v-da05a7d0]{margin-top:100px;text-align:center}.login-block[data-v-da05a7d0]{width:280px;margin:0 auto;background-color:var(--md-sys-color-surface-variant);border-radius:var(--plain-shape-xl);padding-block:var(--plain-spacing-xl);padding:40px}.tips[data-v-da05a7d0]{text-align:center;padding:16px;width:320px;margin:0 auto}.alert-danger[data-v-da05a7d0]{margin-block-end:32px}
